*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/app/.externalNativeBuild/
/.idea/

/app/libs/
git-commit-template
libMegviiBeautify-jni.so
libMegviiBeautifyImage.so
libMGBeautynew.so

#jni
/megviibeautyjni/.externalNativeBuild/
/megviibeautyjni/build/
/megviibeautyjni/src/main/cpp/CMakeFiles
CMakeCache.txt
/megviibeautyjni/src/main/cpp/mg_beautify_sdk
rename.sh
